<div class="container-fluid mt-5">
  <div class="row justify-content-center bg-light pt-3">
    <div class="col-auto">
      <p class="text-muted">{{ 'footer.text'|trans }} <a href = "/was" >{{ 'footer.accesibility'|trans }}</a></p>
    </div>
  </div>
</div>
