<nav class="navbar navbar-expand-sm bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">{{ 'Aarhus Kommunes kunstdatabase'|trans }}</a>
        <div class="aarhus-logo ml-auto">
        <img src="{{ asset('images/AAK-byvaaben-mellem-negativ.svg') }}" alt="{{ "Aarhus Kommunes Byvåben"|trans }}" height="60"/>
        </div>
    </div>
</nav>
