<div class="container-fluid px-0">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <a class="navbar-brand" href="/">{{ 'Aarhus Kommunes kunstdatabase'|trans }}</a>
      <div class="aarhus-logo ml-auto">
        <img src="{{ asset('images/AAK-byvaaben-mellem-negativ.svg') }}" alt="{{ "Aarhus Kommunes Byvåben"|trans }}" height="60"/>
      </div>
  </nav>
</div>
