<nav aria-label="{{ "Side navigation"|trans }}">
  <ul class="pagination pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        {# TODO: Add font-awesome icon fa-arrow-left #}
        <span aria-hidden="true">&laquo;</span>
        <span>{{ "Forrige"|trans }}</span>
      </a>
    </li>
    <li class="page-item disabled"><a class="page-link" href="#">1/12</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        {# TODO: Add font-awesome icon fa-arrow-right #}
        <span>{{ "Næste"|trans }}</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>