{% extends 'admin/base.html.twig' %}

{% block title %}New item{% endblock %}

{% block content %}
    <h1>Create new item</h1>

    {{ include('admin/item/_form.html.twig') }}

    <a href="{{ path('item_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('imageUpload') }}
{% endblock %}
