services:
  phpfpm:
    image: itkdev/php8.4-fpm:latest
    environment:
      - PHP_MAX_EXECUTION_TIME=60
      - PHP_MEMORY_LIMIT=512M

  nginx:
    labels:
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"

  node:
    image: node:22
    profiles:
      - dev
    networks:
      - app
    volumes:
      - .:/app:delegated
    working_dir: /app
