@import '../../custom-variables';
@import '../../base';

@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/images';
//@import '~bootstrap/scss/nav';
//@import '~bootstrap/scss/navbar';

@import '../../partials/toggle-button';

// Accomondate space for fixed nav
body {
  background-color: $gray-100;
  padding-top: $spacer * 5;
}

.custom-file-label:after {
  content: 'Vælg'
}
