<div class="col bg-light px-md-5">
  <h1 class="h4 mt-3 mb-4">{{ data.welcome }}</h1>
  <p class="text-muted">{{ "Senest sete værker"|trans }}</p>
  {% include "admin/_table.html.twig" with { header: false } %}
  <p class="text-muted">{{ "Senest tilføjede værker"|trans }}</p>
  {% include "admin/_table.html.twig" with { header: false } %}
  <div class="row">
    <div class="col">
    </div>
    <a name="" id="" class="btn btn-primary" href="#" role="button">{{ "Opret ny"|trans }}</a>
  </div>
</div>