{% extends "base.html.twig" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
  <div class="container-fluid h-100">
    <div class="row">
      {% include "admin/_sidebar.html.twig" %}
      {% include "admin/_main.html.twig" %}
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}