{% extends 'admin/base.html.twig' %}

{% block title %}Artwork index{% endblock %}

{% block content %}
    <h1>Artwork index</h1>

    {% include "admin/artwork/_filters.html.twig" %}
    {% include "admin/_table.html.twig" with { header: true, artworks: artworks } %}

    {% include "admin/artwork/_modal.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('artworkDetails') }}
{% endblock %}
