/* Overwrite bootstrap variables */

/* Replace body font color*/
$body-color: #333;

/* Set primary color */
$blue: #3661d8;
$primary: $blue;

/* Set secondary color */
$pink: #ee0043;
$secondary: $pink;

/* Set primary font */
$font-family-sans-serif: Arial, Helvetica, sans-serif;

/* Set sizeing variable */
$sizer: 1rem;

/* Replace success color */
$success: #218739;

/*Replace text-muted color*/
$text-muted: #6b747b;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
