<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            {% if data.artworks.artwok1.title %}{{ data.artworks.artwok1.title }} |{% endif %}{{ title }}
        {% endblock %}
    </title>
    <script id="CookieConsent" src="https://policy.app.cookieinformation.com/uc.js" data-culture="DA" type="text/javascript"></script>
    {% block stylesheets %}{% endblock %}
</head>

<body class="{% block body_classes app.request.get('_route') %}">
{% block body %}
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
